.about-container {
  display: flex;
  align-items: start;
  gap: 48px;
}
.experience-container {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 64px;
}
.experience-container > div {
  max-width: 126px;
}
.experience-container > div > h3 {
  font-size: 48px;
  color: #2B2B2B;
  font-weight: 600;
}
.experience-container > div > p {
  font-weight: 400;
  color: #8E8E8E;
  line-height: 30px;
  font-size: 24px;
}