body {
  background: #F7F5F4;
}
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.contact-form{
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  padding: 40px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
input {
  padding: 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #F7F5F4;
  border: 1px solid #E9E9E9;
}
textarea {
  padding: 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #F7F5F4;
  border: 1px solid #E9E9E9;
}