.first-btn {
  background: #E20C32;
  display: flex;
  align-items: center;
  border-radius: 300px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  -ms-border-radius: 300px;
  -o-border-radius: 300px;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  gap: 12px;
  border: none !important;
  color: #fff;
  font-weight: 500;
  font-family: inter;
  font-weight: 500;
  font-size: 16px;
}
.second-btn {
  color: #E20C32;
  background-color: #E20C321A;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  min-width: 170px;
}
.second-btn:hover {
  background-color: #E20C32;
  color: #fff;
}