
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;

}
.nav-links {
  display: flex;
  gap: 40px;
  align-items: baseline;
}
.social-links{
  display: flex;
  gap: 1rem;
}
.social-icon{
  background-color: #F0EEED;
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
}
.social-icon:hover,
.social-icon:hover svg path {
  background-color: #E20C321A;
  fill: #E20C32;
}
.hamburguer {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  background-color: #2B2B2B;
}

@media (max-width: 768px){
    .hamburguer {
      display: block;
    }
  
    .hamburguer.active .bar:nth-child(1) {
      transform: translateY(4px) rotate(45deg);
      -webkit-transform: translateY(4px) rotate(45deg);
      -moz-transform: translateY(4px) rotate(45deg);
      -ms-transform: translateY(4px) rotate(45deg);
      -o-transform: translateY(4px) rotate(45deg);
}
    .hamburguer.active .bar:nth-child(2) {
      transform: translateY(-4px) rotate(-45deg);
      -webkit-transform: translateY(-4px) rotate(-45deg);
      -moz-transform: translateY(-4px) rotate(-45deg);
      -ms-transform: translateY(-4px) rotate(-45deg);
      -o-transform: translateY(-4px) rotate(-45deg);
}
    .nav-links {
      position: fixed;
      left: 0;
      top: -100%;
      gap: 0;
      flex-direction: column;
      background-color: #F0EEED;
      width: 100%;
      height: 80vh;
      text-align: center;
      transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -ms-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      overflow: hidden;
    }
    .menu-link {
      margin: 40px 0;
    }
    .nav-links.active {
      top: 70px;
    }
}