
#owl-carousel2 > .owl-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 40px;
  position: relative;
  bottom: 450px;
}
#owl-carousel2 > .owl-nav > .owl-prev,
#owl-carousel2 > .owl-nav > .owl-next {
  border: none;
  background: #FFF !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#owl-carousel2 > .owl-nav > .owl-prev > span,
#owl-carousel2 > .owl-nav > .owl-next > span {
  font-size: 32px;
  font-weight: 700;
  color: #2b2b2b;
}
#owl-carousel2 > .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
  bottom: 240px;
}
#owl-carousel2 > .owl-dots > .owl-dot {
  background-color: #fff;
  border: none;
  width: 8px;
  height: 12px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
#owl-carousel2 > .owl-dots > .owl-dot.active {
  background-color: #E20C32;
}

.main-section-banner {
  position: relative;
  z-index: 999;
  bottom: 150px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e9e9e9;
  padding: 16px 40px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.image-banner {
  display: flex;
  gap: 8px;
  align-items: center;
}
.image-banner img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.buttons-banner {
  display: flex;
}