.services-container {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  background-color: #2B2B2B08;
  padding: 64px 72px;
  max-height: 432px;
  margin-bottom: 200px;
}
.services-cards {

display: grid;
grid-template-columns: 1fr 1fr;
grid-template-areas: "card-1 card-2"
"card-1 card-3";
}
.services-card {
  background-color: #fff;
  padding: 36px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  max-height: 226px;
  margin: 0 32px 0 0;
}
.card-svg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services-card-description h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #2b2b2b;
  margin-bottom: 8px;
}
.services-card-description p {
  font-size: 16px;
  font-weight: 500;
  color: #909090;
}
.services-description h2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  color: #2b2b2b;
}
.services-description p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: #909090;
}
.services-card-1 {grid-area: card-1;}
.services-card-2 {
  grid-area: card-2;
  position: relative;
  bottom: 106px;
}
.services-card-3 {
  grid-area: card-3;
  position: relative;
}