.testimonials{
  background-color: #E20C32;
  padding: 4rem 0;
}
.testimonials__description{
  text-align: center;
  margin-bottom: 40px;
}
.testimonials__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 1.5rem;
}
.testimonials__card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e9e9e9;
  background-color: #fff;
  border-radius: 8px;
  padding: 2rem;
  gap: 2.1rem;
  justify-content: space-between;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.card__description{
  flex-grow: 1;
}
.testimonials__description > p {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
}
.testimonials__description > h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  margin-bottom: 8px;
  color: #fff;
}
.card__description > p {
  font-size: 16px;
  font-weight: 500;
  color: #8E8E8E;
  line-height: 28px;
}
.card__profile {
  display: grid;
  grid-template-areas: "picture name"
  "picture city";
  align-items: center;
  justify-content: start;
  gap: .5rem;
}
.card__profile-picture {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  grid-area: picture;
}
.card__profile-city {
  grid-area: city;
  margin-top: -1rem;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #666666;
}
.card__profile-name {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  grid-area: name;
}
.container {
width: 90%;
margin: 0 auto;
max-width: 1152px;
}
.testimonials-cards-mobile{
  display: none;
}
@media (max-width: 900px){
  .testimonials__cards  {
    display: none;
  }
  .testimonials-cards-mobile {
    display: block;
  }
}